main .contents {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #cfe5ff;
}

main .contents article {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  bottom: 100px;
}

main .contents article h1 {
  color: var(--Secondary-700);
  font-family: Pretendard;
  font-size: var(--pTr-40);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

main .contents article a {
  width: 357px;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  background: var(--Primary-100);
  color: var(--Secondary-50);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--pTr-20);
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}
main .contents img {
  width: 60%;
  max-width: 746px;
  height: initial;
}

section.home {
  display: flex;
  background: #fff;
  padding: 138px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section.home article {
  width: 100%;
  max-width: 988px;
  background-color: #fcfcfc;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.home article img {
  width: 588px;
  height: 444px;
}

.home .capter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .capter h4 {
  color: var(--Primary-100);
  font-family: Pretendard;
  font-size: var(--pTr-18);
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.home .capter h2 {
  color: var(--Secondary-700);
  font-family: Pretendard;
  font-size: var(--pTr-40);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
  margin: 12px 0 24px 0;
}

.home .capter p {
  color: var(--Secondary-700);
  /* pretendard/2xl-24px-medium */
  font-family: Pretendard;
  font-size: var(--pTr-24);
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.home.search .capter {
  text-align: right;
}

main .contents.bottom {
  gap: 69px;
}

main .contents.bottom article {
  padding: 0 0 60px 0;
}

.no-box {
  width: 100%;
  height: 138px;
  background: #fcfcfc;
}

footer {
  display: flex;
  height: 160px;
  background: var(--Secondary-900);
  padding: 32px 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

footer p,
footer .footer-center li {
  color: var(--Secondary-400);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer ul.footer-center {
  display: flex;
  gap: 30px;
}

footer ul.footer-center li a {
  color: var(--Secondary-200);
}

footer ul.footer-icons {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  height: 20px;
  align-items: flex-end;
}

footer ul.footer-icons li a {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
}
li.icon-facebook a {
  background: url(/img/sns/facebook.svg);
}

li.icon-twitter a {
  background: url(/img/sns/ic_twitter.svg);
}

li.icon-youtube a {
  background: url(/img/sns/youtube.svg);
}

li.icon-instargram a {
  background: url(/img/sns/ic_instagram.svg);
}

@media all and (max-width: 1200px) {
  main .contents article,
  main .contents img {
    width: 50%;
  }

  .home article img {
    width: 50%;
    max-width: 588px;
    height: initial;
  }
}
