main .contents {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #cfe5ff;
}

main .contents article {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  bottom: 100px;
}

main .contents article h1 {
  width: 295px;
  color: var(--Secondary-700);
  font-family: Pretendard;
  font-size: var(--pTr-40);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

main .contents article a {
  width: 357px;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  background: var(--Primary-100);
  color: var(--Secondary-50);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--pTr-20);
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}
main .contents img {
  width: 746px;
  height: initial;
}

section.home {
  display: flex;
  background: #fff;
  padding: 138px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section.home article {
  width: 100%;
  max-width: 988px;
  background-color: #fcfcfc;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.home article img {
  width: 588px;
  height: 444px;
}

.home .capter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .capter h4 {
  color: var(--Primary-100);
  font-family: Pretendard;
  font-size: var(--pTr-18);
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
}

.home .capter h2 {
  color: var(--Secondary-700);
  font-family: Pretendard;
  font-size: var(--pTr-40);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
  margin: 12px 0 24px 0;
}

.home .capter p {
  color: var(--Secondary-700);
  /* pretendard/2xl-24px-medium */
  font-family: Pretendard;
  font-size: var(--pTr-24);
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.home.search .capter {
  text-align: right;
}

main .contents.bottom {
  gap: 69px;
}

main .contents.bottom article {
  padding: 0 0 60px 0;
}

.no-box {
  width: 100%;
  height: 138px;
  background: #fcfcfc;
}

footer {
  display: flex;
  height: 160px;
  background: var(--Secondary-900);
  padding: 32px 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

footer p,
footer .center li {
  color: var(--Secondary-400);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer ul.center {
  display: flex;
  gap: 30px;
}

footer ul.center li a {
  color: var(--Secondary-200);
}

footer ul.icons {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  height: 20px;
  align-items: flex-end;
}

footer ul.icons li a {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
}
li.icon-facebook a {
  background: url(/img/sns/facebook.svg);
}

li.icon-twitter a {
  background: url(/img/sns/ic_twitter.svg);
}

li.icon-youtube a {
  background: url(/img/sns/youtube.svg);
}

li.icon-instargram a {
  background: url(/img/sns/ic_instagram.svg);
}

@media (max-width: 1199px) {
  /* tablet 사이즈  */
  main section.contents {
    height: fit-content;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 84px 0 0 0;
    gap: 211px;
    text-align: center;
  }

  main section.contents img {
    width: 744px;
  }

  main section.contents article {
    gap: 24px;
    bottom: 0;
    align-items: center;
  }

  main section.contents article h1 {
    width: 100%;
  }

  section.home {
    padding: 24px;
  }

  section.home article {
    flex-direction: column;
    gap: 24px;
    background: none;
  }

  section.home.search article {
    flex-direction: column-reverse;
  }

  section.home article img {
    width: 100%;
    height: fit-content;
  }

  section.home .capter {
    width: 100%;
  }

  section.home .capter h2 {
    font-size: var(--pTr-32);
    margin: 16px 0 24px 0;
  }

  section.home .capter p {
    font-size: var(--pTr-18);
  }

  main .contents bottom {
    padding: 201px 0 0 0;
    gap: 217px;
  }

  footer {
    padding: 32px 24px;
  }

  .br-style {
    display: none;
  }
}

@media screen and (max-width: 743px) {
  /* mobile 사이즈  */
  main section.contents {
    padding: 48px 0 0 0;
    gap: 132px;
  }

  main section.contents article h1 {
    width: 240px;
    font-size: var(--pTr-32);
  }

  main section.contents article a {
    width: 240px;
    padding: 11px;
  }

  section.home .capter h2 {
    margin: 8px 0 16px 0;
    font-size: var(--ptr-24);
  }

  section.home .capter h4,
  section.home .capter p {
    font-size: var(--ptr-16);
  }

  section .home {
    padding: 52px 16px;
  }

  .no-box {
    background: #fff;
    height: 59px;
  }

  main .contents.bottom {
    padding: 121px 0 0 0;
    gap: 71px;
  }

  main section.contents img {
    width: calc(100% - 32px);
  }

  footer {
    padding: 32px 16px;
  }

  footer p {
    position: absolute;
    bottom: 65px;
  }
}
