body {
  background: #fff;
}

.wrap.login-wrapper {
  max-width: 640px;
  margin: 60px auto 284px auto;
}

.wrap.login-wrapper .login-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 40px 0;
}

.wrap.login-wrapper .login-logo img {
  width: 100%;
  max-width: 396px;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
}

form .box {
  margin: 0 0 24px 0;
}

form label {
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-size: var(--pTr-18);
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  margin: 0 0 18px 0;
}

form input {
  width: 640px;
  height: 56px;
  margin: 16px 0 0 0;
  padding: 16px 24px;
  border-radius: 12px;
  background: var(--Secondary-100);
  border: 1px solid var(--Secondary-100);
  color: var(--Secondary-400);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input:focus {
  border: 1px solid #3692ff;
}

form input.input-out:not(:focus) {
  border: 1px solid var(--error-red);
}

form .error-text {
  width: 100%;
  padding: 8px 16px 0 16px;
  display: none;
}

form .error-text.active {
  width: 100%;
  padding: 8px 16px 0 16px;
  display: inline-block;
}

form button {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--Secondary-400);
  border: 1px solid var(--Secondary-400);
  color: var(--Secondary-100);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--pTr-20);
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

form button.active {
  background: var(--Primary-100);
  border: 1px solid var(--Primary-100);
}

form button:hover {
  opacity: 0.9;
}

form .error-text {
  color: var(--error-red);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

form .pw-box {
  position: relative;
}

form .pw-box .eyes {
  position: absolute;
  top: 18px;
  right: 24px;
  z-index: 1;
}

form .pw-box .eyes:hover {
  cursor: pointer;
}

form .pw-box .eyes .eyes-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/img/login/btn_visibility_off.svg) no-repeat;
  background-size: 100% auto;
}

form .pw-box .eyes.active .eyes-icon {
  background: url(/img/login/btn_visibility_on.svg) no-repeat;
  background-size: 100% auto;
}

.sns-login {
  display: flex;
  justify-content: space-between;
  width: 640px;
  height: 74px;
  padding: 16px 23px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #e6f2ff;
  margin: 24px 0;
}

.sns-login p {
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.sns-login ul {
  display: flex;
  gap: 16px;
}

.sns-login ul li,
.sns-login ul li a {
  width: 42px;
  height: 42px;
}

.singup {
  text-align: center;
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-size: var(--pTr-14);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.singup a {
  color: var(--Primary-100);
  text-decoration: underline;
}

@media (max-width: 1199px) {
  /* tablet 사이즈  */
  .wrap.login-wrapper {
    margin: 48px auto 48px auto;
  }
}

@media screen and (max-width: 743px) {
  /* mobile 사이즈  */
  .wrap.login-wrapper {
    max-width: 343px;
    margin: 24px auto;
  }

  .wrap.login-wrapper .login-logo img {
    max-width: 198px;
  }

  form input,
  form button,
  .sns-login {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .wrap.login-wrapper {
    margin: 24px 16px;
  }
}
