
.appContainer{
  margin: 0 auto;
  background-color:#FCFCFC;
  width: 120rem;

}

main{
  padding: 5.87rem 22.5rem 8.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 160%;
}




/* tablet media */
/* @media (max-width: 1199px) and (min-width: 744px){
  main{
    padding: 5.88rem 1.5rem 25.31rem;
  }
} */

/* mobile media */
/* @media (max-width: 743px) and (min-width: 375px) {
  main{
    padding: 5.44rem 1rem 23.44rem;
  }
} */