.dropdown {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  height: 4.2rem;
}

.dropdownToggle {
  padding: 1.2rem 2rem;
  border: 1px solid #ccc;
  border-radius: 1.2rem;
  cursor: pointer;
  background-color: #fff;
  width: 13rem;
  
}

.dropdownMenu {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 1.2rem;
  background-color: #fff;
  z-index: 100;
}

.dropdownItem {
  padding: 1.2rem 2rem;
  cursor: pointer;
  height: 4.2rem;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.arrow {
  transition: transform 0.2s ease;
}

.open .arrow {
  transform: rotate(180deg);
}