.content_wrap {
  padding: 0.625rem 6.25rem 1.875rem 6.25rem;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.errorBorder {
  border: 1px solid var(--color_red); /* 너비, 스타일, 색상 순 */

  border-width: 1px;
}
.error {
  color: var(--color_red);
}
.title {
  font-size: var(--font_content_size);
  font-weight: var(--font_title_weight);
  color: var(--color-login-black);
}

.form_wrap {
  font-size: var(--font_highlight_size);
  font-weight: var(--font_content_weight);
  color: var(--color-login-black);
}

input,
textarea {
  width: 100%;
  border-radius: 0.75rem;
  background-color: var(--color-login-grey);
  height: 3.75rem;
  padding: 0.9375rem;
}

textarea {
  height: 12.5rem;
}

input,
textarea::placeholder {
  font-size: var(--font_highlight_size);
}

@media (width<75rem) {
  .content_wrap {
    padding: 0.625rem 1.25rem 1.25rem 1.25rem;
  }
  input,
  textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    height: 2.5rem;
    padding: 0.625rem;
  }
  textarea {
    height: 10.625rem;
  }
}

@media (width<37.5rem) {
  input,
  textarea {
    width: 100%;
    border-radius: 0.3125rem;
    border: none;
    height: 1.875rem;
    padding: 0.625rem;
  }
  textarea {
    height: 8.75rem;
  }
}
