html {
  font-size: 62.5%; /* 1rem = 10px */
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;

  --error: #f74747;
  --bg-blue: #cfe5ff;
  --bg-gray: #fcfcfc;
  --bg-white: #ffffff;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
}

/* 변수 사용은 color: var(--gray-700);와 같이 사용합니다. */

body {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 1.6rem;
  color: #374151;
  word-break: keep-all;
  /* word-break는 텍스트 줄바꿈 방지 */
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* 화면 중앙 정렬 및 최대 너비 제한 */
/* 1920px - 400px(좌우여백 200*2) = 1520px(152rem) */
.heroContainer,
.bottomContainer,
.featureItem,
#footer {
  width: 100%;
  max-width: 152rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* 화면이 1200px보다 작아지면 계산식을 끄고 고정 여백 */
@media (max-width: 128rem) {
  header,
  #footer {
    padding: 0 3.2rem;
  }
}

.headerLogo img {
  width: 15.3rem;
  display: block;
}

/* -------- h1 태그 숨기기 -------- */
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* --- 위아래 배너 컨테이너 공통사항 --- */
.heroContainer,
.bottomContainer {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* ----------- Header ----------- */
header {
  position: fixed;
  top: 0;
  left: 0;

  padding: 0 8rem;
  width: 100%;
  height: 7rem;

  background-color: var(--bg-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo img {
  width: 15.3rem;
  cursor: pointer;
}

.loginBtn {
  background-color: var(--primary-100);
  color: var(--bg-white);
  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

/* ---------- Main ------------ */
main {
  margin-top: 7rem;
}

/* -------- Hero 섹션 --------- */
#hero {
  width: 100%;
  height: 54rem;
  background-color: var(--bg-blue);

  background-image: url(./img/Img_home_top.png);
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: calc(50% + 25rem) bottom;
}

.heroContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.itemBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.7rem;
  height: 5.6rem;

  background-color: var(--primary-100);
  color: var(--bg-white);
  font-size: 2rem;
  font-weight: 700;

  padding: 1.6rem 4rem;
  border-radius: 4rem;
  margin-top: 3.2rem;

  cursor: pointer;
}

/* ------------- Feature 섹션 --------------- */
#feature {
  background-color: var(--bg-white) e;
}

.featureItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 27.6rem;
}

.featureItem:first-child {
  margin-top: 13.8rem;
}

/* Search만 순서 뒤집기 */
.featureItem:nth-child(2) {
  flex-direction: row-reverse;
}

/* Search 텍스트 박스만 오른쪽 정렬 */
.featureItem:nth-child(2) .text_box {
  align-items: flex-end;
  text-align: right;
}

.imgBox,
.textBox {
  flex: 1;
}

.imgBox {
  display: flex;
  justify-content: center;
}

.imgBox img {
  width: 100%;
  max-width: 58rem;
  height: auto;
  vertical-align: bottom;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ------- 파란색 작은 제목 ------- */
.subTitle {
  color: var(--primary-100);
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  display: block;
}

/* -------- 검은색 큰 제목 ------- */
.textBox h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1.6rem;
  color: #374151;
}

/* ------- 설명글 ------- */
.textBox h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--gray-700);
}

/* ----------Bottom ---------- */
#bottom {
  background-color: var(--bg-blue);
  width: 100%;
  height: 54rem;

  background-image: url(./img/Img_home_bottom.png);
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: calc(50% + 25rem) bottom;
}

.bottomContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.bottomContainer h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
}

/* ------------Footer--------------- */
footer {
  background-color: var(--gray-900);
  color: var(--gray-400);
  padding: 3.2rem 0 10rem 0;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footerLeft a {
  font-size: 1.6rem;
  cursor: pointer;
}

#footerCenter {
  display: flex;
  gap: 3rem;
}

#footerCenter a {
  color: #cfcfcf;
  cursor: pointer;
}

#snsIcon {
  display: flex;
  gap: 1.2rem;
}

#snsIcon img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
