@import "/reset.css";

/* 기본 설정 */
:root {
  --main-color: #3692ff;
  --button-color: #2D68AE;
  --banner-color: #CFE5FF;
  --content-color: #FCFCFC;
  --footer-color: #111827;

  --text-color: #374151;
  --gray1-color: #9CA3AF;
  --gray2-color: #E5E7EB;
  --gray3-color: #F3F4F6;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
  color: var(--text-color);
  word-break: keep-all;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: var(--gray2-color);
}

h2 {
  font-size: 4rem;
  line-height: 140%;
}

span {
  color: var(--main-color);
  font-size: 1.8rem;
  line-height: 2.6rem;
}

p {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
}

/* header 디자인 */
header {
  background-color: white;
  height: 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
  border-bottom: 0.1rem solid var(--gray2-color);

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.button {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 12px 23px;

  font-size: 1.6rem;
  font-weight: 600;
  color: var(--gray3-color);

  cursor: pointer;
}

.button:hover {
  background-color: var(--button-color);
}

/* main 디자인 */

/* banner 디자인 */
.banner {
  background-color: var(--banner-color);
  height: 54rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

#hero {
  margin-top: 7rem;
}

.banner img {
  max-width: 50%;
}

.slogan {
  position: relative;
  top: -30%;
}

.button.round {
  border-radius: 999px;
  padding: 16px 124px;

  display: inline-block;
  margin-top: 3.2rem;
}

/* content 디자인 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  padding: 13.8rem 0;
  gap: 27.6rem;
}

.content {
  background-color: var(--content-color);
  max-width: 98.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;  
}

.content img {
  width: 60%;
}

.text h2 {
  margin: 1.2rem 0 2.4rem;
}

.left {
  align-items: right;
  text-align: right;
}

/* footer 디자인 */
footer {
  background-color: var(--footer-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 20rem 10.8rem;

  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray1-color);
}

.footer-links {
  display: flex;
  gap: 3rem;
}

.sns-icons {
  display: flex;
  gap: 1.2rem;
}
