* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  height: 70px;
}

#login-btn {
  background-color: #3692ff;
  color: white;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 24px 24px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px;
}
#hero {
  background-color: #cfe5ff;
  height: 540px;
  background-image: url(/imgs/Img_home_top.png);
  display: flex;
  align-items: end;
  padding-left: 405px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 65% bottom;
}
.container h1 {
  font-size: 40px;
  line-height: 140%;
  font-weight: bold;
  color: #374151;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 100px;
}

.container a {
  font-size: 20px;
  width: 357px;
  height: 56px;
  font-weight: 600;
  color: #f9fafb;
  background-color: #3692ff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* 여기까지 1차 라이브코딩 강의 내용 */

#homes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home1 {
  padding: 138px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home2 {
  padding: 138px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: right;
}
.home3 {
  margin: 138px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
}
.home-wrapper1 {
  background-color: #fcfcfc;
  width: 400px;
  height: 444px;
  padding: 100px 40px;
}
.home-wrapper2 {
  background-color: #fcfcfc;
  width: 400px;
  height: 444px;
  padding: 100px 40px;
}
.home-wrapper3 {
  background-color: #fcfcfc;
  width: 400px;
  height: 444px;
  padding: 100px 40px;
}
.home-head {
  color: #3692ff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.home-body {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  margin-top: 24px;
}

.home-foot {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  margin-top: 24px;
}

#body-bottom {
  background-color: #cfe5ff;
  display: flex;
  justify-content: center;

  height: 540px;

  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-left: 50px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 100px;
}

.container2 h1 {
  font-size: 40px;
  line-height: 140%;
  font-weight: bold;
  color: #374151;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-top: 32px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 16px;
  width: 100%;
  height: 120px;
}

#footerMenu a {
  color: #e5e7eb;
  padding: 0px 10px;
}

#socialMedia {
  display: flex;
  gap: 10px;
}
