/* palette에 있는 color값을 css로 ..?  이해를못했다 ... */

:root {
  --color-primary: #3692ff;
  --color-bg-main: #fcfcfc;
  --color-bg-hero: #cfe5ff;
  --color-bg-hot-item: #fcfcfc;
  --color-text-main: #374151;
  --color-text-strong: #1f2937;
  --color-text-muted: #9ca3af;
  --color-text-on-primary: #f9fafb;
  --color-gray-btn: #9ca3af;
  --color-footer-bg: #111827;
  --color-login-easy-bg: #e6f2ff;
}
