:root {
--primary-100: #3692ff;
--primary-200: #1967d6;
--primary-300: #1251aa;

--error: #f74747;
--bg-blue: #cfe5ff;
--bg-gray: #fcfcfc;
--bg-whith:#ffffff;

--gray-50: #f9fafb;
--gray-100: #f3f4f6;
--gray-200: #e5e7eb;
--gray-400: #9ca3af;
--gray-500: #6b7280;
--gray-600: #4b5563;
--gray-700: #374151;
--gray-800: #1f2937;
--gray-900: #111827;
}

*{
  box-sizing: border-box;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-decoration: none;
}

html{
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
}

body{
  margin: 0 auto;
  max-width: 120rem;
}

.button{
  cursor: pointer; 
}

/* header */
header{ 
  width: 100%;
  padding: 0.56rem 12.5rem;
  background-color: var(--bg-whith);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 111;
}

.login{
  background-color: var(--primary-100);
  padding: 0.75rem 1.44rem;
  border-radius: 0.5rem;
  color: var(--gray-100);
} 

/* main */
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-whith);
}

article{
  background-color: var(--bg-blue);
  height: 33.75rem;
  width: 100%;
  position: relative;
}

.position{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.44rem;
  width: 100%;
  height: 21.25rem;
  position: absolute;
  bottom: 0;
  z-index:1;
}

.title-content{
  display: flex;
  padding-bottom: 3.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.big-word{
  font-size: 2.5rem;
  color: #374151;
  font-weight: 700;
  line-height: 140%;
  margin: 0.75rem 0 1.5rem ;
}

.button#middle-button{
  background-color: var(--primary-100);
  padding: 1rem 7.75rem;
  border-radius: 2.5rem;
  color: var(--gray-50);
  margin-bottom: 3.75rem;
}

.panda-photo{
  display: flex;
  width: 46.625rem;
  height: 21.25rem;
  padding-right: 0;
  justify-content: center;
  align-items: center;
} 

/* section */
section{
  background-color: var(--bg-whith);
  padding: 8.62rem 21.5rem;
  display: flex;
  justify-content: center;
}

.flexs{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: var(--bg-gray);
  width: 61.75rem;
  height: 27.75rem;
}

.img{
  display: flex;
  width: 36.75rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.word-box{
  display: flex;
  flex-direction: column;
}

.point-keyWord{
  color: var(--primary-100);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.625rem;
}

#flex-reverse{
  flex-direction: row-reverse;
}

#word-reverse{
  text-align: right;
} 

#bottom-box{
  margin: 8.62rem 0 0 ;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
}

#bottom-position{
  display: flex;
  align-items: center;
  position: relative;
  bottom: -4.5rem;
}

.panda2-photo{
  display: flex;
  width: 46.625rem;
  height: 24.8125rem;
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

/* footer */
footer{
  background-color: var(--gray-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12.5rem;
  width: 100%;
  z-index: 2;
  height: 10rem;
}

#codeit{
  color: var(--gray-400);
  font-weight: 400;
}

#bottom-center{
  display: flex;
  gap: 1.88rem;
}

.bottom-font{
  color: var(--gray-200);
  font-size: 1rem;
  font-weight: 400;
}

.sns{
  display: flex;
  gap: 0.75rem;
} 

/* pc media */
@media (min-width: 1200px) {
    body {
        flex-wrap: nowrap; 
        background-color:  var(--bg-blue);
        align-items: center;
        justify-content: center;
        
    }
        .content {
        position: relative; 
        left: 50%; 
    }
  }

/* tablet media */
@media (max-width: 1199px) and (min-width: 744px){
  *{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
  }
  body{
    height: 264.75rem;
    width: 100%;
  }

  /* header */
  header{
    padding: 0 1.5rem;
  }

  /* top-article */
  article{
    width: 100%;
    height: 48.1875rem;

  }
  .position{
    flex-direction: column;
    height: 48.1875rem;
    flex-grow: 0;
    justify-content: space-between;
  }
  .title-content{
    align-items: center;
    gap: 1.5rem;
    margin-top: 5.25rem;
  }
  .big-word br {
    display: none;
  }

  /* main-section 1, 3 */
  section{
    padding:1.5rem;
    width: 100%;
    height: 44.25rem;
    gap: 3.25rem;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3.25rem;
  }
  .flexs{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem ;
    align-self: stretch;
    width: 100%;
  }
  .img{
    width: 100%;
    height: 32.84694rem;
  } 
  .big-word{
    margin: 1rem 0 1.5rem ;
  }
  .word-box{
    margin-bottom: 3.25rem;
  }
  .section-flex{
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
    margin-bottom: 3.25rem;
  }
  #flex-reverse{
    flex-direction: column;
    align-items: flex-end;
  }

  /* bottom box */
  #bottom-box{
    margin: 0;
    height: 57.9375rem;
  }
  #bottom-position{
    gap: 13.56rem;
    bottom: -4.865rem;
  }
  #last-big-word br{
    display:block ;
  }

  /* footer */
  footer{
  display: inline-flex;
  height: 10rem;
  padding: 2rem 1.5rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.625rem;
  }
}

/* mobile media */
@media (max-width: 743px) and (min-width: 375px) {
  *{
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
  }
  body{
    height: 172.1875rem;
    width:23.4375rem;
    overflow-x: hidden;
  }

  /* header */
  header{
    display: flex;
    height: 4.375rem;
    padding: 0.625rem 1rem 0.5625rem 1rem;
    justify-content: space-between;
    align-items: center;
  }

  /* top-article */
  article{
    width: 100%;
    height:  33.75rem;
    margin-bottom: 3.25rem;
  }
  .position{
    flex-direction: column;
    justify-content: flex-end;
  }
  .title-content{
    align-items: center;
    gap: 1.12rem;
    margin-top: 3rem;
    text-align: center;
  }
  .panda-photo{
    width: 28rem;
    height: 12.75rem;
    z-index: -1;
  }
  .big-word#article-word br{
    font-size: 2rem;
    margin: 0;
    display: block;
  }
  .button#middle-button{
    font-size: 1.125rem;
    height: 3rem;
    padding: 0.75rem 4.4375rem;
  }

  /* main-section 1, 3 */
  .section-flex{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 5.19rem;
  }
  section{
    padding: 0;
    width: 21.5rem;
    height: 26.1rem;
    gap: 3.25rem;
    flex-direction: column;
    justify-content: flex-start;
  }
  .point-keyWord{
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .flexs{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem ;
    align-self: stretch;
    width: 100%;
  }
  .img{
    width: 100%;
    height: 16.1875rem;
  } 
  .big-word{
    font-size: 1.5rem;
    line-height: 2crem;
    margin: 0.5rem 0 1rem;
  }
  .big-word br{
    display: none;
  }
  .word-box{
    height: 8.38rem;
  }
  #flex-reverse{
    flex-direction: column;
    align-items: flex-end;
  }

  /* bottom box */
  #bottom-box{
    margin: 0;
    height: 33.75rem;
  }
  #bottom-position{
    gap: 8.19rem;
    bottom: -4.865rem;
  }
  #last-big-word br{
    display:block ;
  }
  #last-big-word{
    font-size: 2rem;
    text-align: center;
  }
  .panda2-photo{
    height: 12.375rem;
    width: 23.4375rem;
    position: relative;
    bottom: -1.4rem;
  }

  /* footer */
  footer{
    display:grid;
    /* grid-template: 1fr 1fr/1fr 1fr; */
    grid-template-rows: 1.25rem 1.18rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:1.5rem;
    align-items: center;
    height: 10rem;
    padding: 1rem 2rem;
  }
  #codeit{
    grid-row: 2;
    align-items: flex-start;
  }
  .sns{
    justify-content: right;
  }
}