.footerContainer{
  background-color: var(--Secondary-900);
  height: 10rem;
  padding: 2rem 12.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
    p{
      color: var(--Secondary-400)
    }
}

.footerCenter{
  color: var(--Secondary-200);
  display: flex;
  gap: 1.88rem;
}

.snsBtn{
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;

    img{
      width: 1.3rem;
    }

}