.productGrid{
  display: grid;
  grid-template-columns: repeat(5,13.625rem);
  gap: 2.5rem 1.5rem;
  justify-content: center;

}

.productItemContainer{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;

}

.productItemImg{
  width: 13.625rem;
  height: 13.625rem;
  border-radius: 1rem;
}

.postInfo{
  display: flex;
  flex-direction: column;
  
  gap: 0.37rem;
  font-size: 0.75rem;
  line-height: 150%;

    h2, .likePart{
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 171.429%;
    }
}

.price{
  color: var(var(--Secondary-800));
  font-size: 1rem;
  font-weight: 700;
  line-height: 171.429%;
}

.likePart{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}