.searchContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.searchSection{
  display: flex;
  gap: 0.75rem;
}

.searchIcon{
  position: relative;
  left: 2.2rem;
  bottom: -0.2rem;
  color: var(--Secondary-400);
}

input{
  width: 20.3125rem;
  height: 2.625rem; 
  padding: 0.5625rem 1.25rem 0.5625rem 2.5rem;

  border-radius: 0.75rem;
  background-color: var(--Secondary-100);
  border: none;
  color: var(--Secondary-400);
}

.addItemBtn{
  height: 2.625rem;
  padding: 0.75rem 1.4375rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--Cool-Gray-100);
  background-color:var(--primary-100);
  font-size: 1rem;
  font-weight: 600;
  line-height: 162.5%;

  display: flex;
  align-items: center;
}


.toggleBtn{
  width: 8.125rem;
  height: 2.625rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  border-radius: 0.75rem;
  border: 1px solid var(--Cool-Gray-200);
  background-color: #fff;
}