.footerContainer{
  background-color: var(--Secondary-900);
  height: 10rem;
  padding: 2rem 12.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
    p{
      color: var(--Secondary-400)
    }
}

.footerCenter{
  color: var(--Secondary-200);
  display: flex;
  gap: 1.88rem;
}

.snsBtn{
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;

    img{
      width: 1.3rem;
    }

}

/* tablet media */
/* @media (max-width: 1199px) and (min-width: 744px){
  .footerContainer{
      padding: 2rem 1.5rem;
      width: 100%;
  }
} */


/* mobile media */
/* @media (max-width: 743px) and (min-width: 375px) {
  .footerContainer{
    display:grid;
    grid-template-rows: 1.25rem 1.18rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:1.5rem;
    align-items: center;
    height: 10rem;
    padding: 2rem 1rem;
  }
  .footerLogo{
    grid-row: 2;
    align-items: flex-start;
  }
  .snsBtn{
    justify-content: right;
  }
} */
