.select {
    width: 130px;
    height: 42px;
    border-radius: 12px;
    padding: 12px 44px 12px 20px;
    border: 1px solid var(--secondary-color-gray200);
    background-color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-color-gray800);
    appearance: none;
    background:url('./ic_arrow_down.svg') no-repeat right 20px center;
}
