:root {
  /* Primary color */
  --Primary-100: #3692ff;
  --Primary-200: #1967d6;
  --Primary-300: #1251aa;

  /* Gray scale */
  --Secondary-100: #f9fafb;
  --Secondary-200: #f3f4f6;
  --Secondary-300: #e5e7eb;
  --Secondary-400: #9ca3af;
  --Secondary-500: #6b7280;
  --Secondary-600: #4b5563;
  --Secondary-700: #374151;
  --Secondary-800: #1f2937;
  --Secondary-800: #111827;

  /* Layout dimensions */
  --header-height: 7rem;
}

body {
  color: #374151;
  word-break: keep-all;
  font-family: 'Pretendard', sans-serif;
}

.withHeader {
  margin-top: var(--header-height);
}

.wrapper {
  width: 100%;
  padding: 0 1.6rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
}

@media (min-width: 744px) {
  .wrapper {
    padding: 0 2.4rem;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 120rem;
    margin: 0 auto;
  }
}

/* #socialLogin {
  display: flex;
  gap: 1.6rem;
} */
