:root {
  --bg-blue: #cfe5ff;
  --bg-gray: #fcfcfc;
  --bg-whith: #ffffff;

  --Cool-Gray-100: #f3f4f6;
  --Cool-Gray-200: #e5e7eb;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --secondary-100: #f3f4f6;
  --secondary-200: #e5e7eb;
  --secondary-400: #9ca3af;
  --secondary-600: #4b5563;
  --secondary-800: #1f2937;
  --secondary-900: #111827;

  --primary-100: #3692ff;
  --primary-200: #1967d6;
  --primary-300: #1251aa;

  --error: #f74747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

img,
svg {
  vertical-align: bottom;
}

body {
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
  margin: 0;
  background: #fcfcfc;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  z-index: 999;
}

.withHeader {
  margin-top: var(--header-height);
}

footer {
  background-color: #111827;
  color: #9ca3af;
  font-size: 16px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

#copyright {
  order: 3;
  flex-basis: 100%;
}

#footerMenu {
  display: flex;
  gap: 30px;
  color: var(--gray-200);
}

#socialMedia {
  display: flex;
  gap: 12px;
}

.wrapper {
  width: 100%;
  padding: 0 16px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.button {
  background-color: var(--blue);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}

.pill-button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 999px;
  padding: 14.5px 33.5px;
}

.full-width {
  width: 100%;
}

.break-on-desktop {
  display: none;
}

@media (min-width: 744px) {
  header {
    padding: 0 24px;
  }

  .wrapper {
    padding: 0 24px;
  }

  .pill-button {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 126px;
  }

  footer {
    padding: 32px 104px 108px 104px;
  }

  #copyright {
    flex-basis: auto;
    order: 0;
  }
}

@media (min-width: 1280px) {
  header {
    padding: 0 200px;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .break-on-desktop {
    display: inline;
  }

  footer {
    padding: 32px 200px 108px 200px;
  }
}
