.mainContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bestSection {
  margin-bottom: 40px;
  margin-top: 94px;
}

.sectionTitle {
  color: #111827;
  font-weight: bold;
  font-size: 1.25rem; /* 20px */
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.salesSection {
  margin-top: 2.5rem; /* mt-10 */
}

/* 반응형 */
@media (min-width: 640px) {
  .mainContainer {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1024px) {
  .mainContainer {
    padding: 0 2rem;
  }
}
