.box {
  height: 720px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  width: 988px;
  height: 444px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  gap: 64px;

  img {
    width: 588px;
  }
}

.exBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.8px;
    margin-bottom: 24px;
  }
}
