header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 7rem;
  height: var(--header-height);
  background-color: #ffffff;
  border-bottom: 0.1rem solid #dfdfdf;
  z-index: 1;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  max-width: 120rem;
  margin: 0 auto;
}

.header-container img { vertical-align: middle;}

.gnb-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.gnb {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2.4rem;
}
.gnb li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--Secondary-600);
}
