/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@16.1.6_@babel+core@7.29.0_babel-plugin-react-compiler@1.0.0_react-dom@19.2.3_react@19.2.3__react@19.2.3/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[16].oneOf[6].use[2]!./node_modules/.pnpm/next@16.1.6_@babel+core@7.29.0_babel-plugin-react-compiler@1.0.0_react-dom@19.2.3_react@19.2.3__react@19.2.3/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[16].oneOf[6].use[3]!./src/components/UI/Button/Button.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__7F12w {
  border: none;
}

.Button_primary__hFGzf {
  background-color: var(--Primary-100);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 1.15rem 2.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

.Button_button__7F12w:hover {
  background-color: var(--Primary-200);
}

.Button_button__7F12w:focus {
  background-color: var(--Primary-300);
}

.Button_button__7F12w:disabled {
  background-color: var(--Secondary-400);
  cursor: default;
  pointer-events: none;
}

.Button_pill__YgWD3 {
  background-color: var(--Primary-100);
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 99.9rem;
  padding: 1.6rem 12.4rem;
}

.Button_full-width__f1nr2 {
  width: 100%;
}

@media (min-width: 744px) {
  .Button_pill-button__yzCZp {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 126px;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@16.1.6_@babel+core@7.29.0_babel-plugin-react-compiler@1.0.0_react-dom@19.2.3_react@19.2.3__react@19.2.3/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[16].oneOf[6].use[2]!./node_modules/.pnpm/next@16.1.6_@babel+core@7.29.0_babel-plugin-react-compiler@1.0.0_react-dom@19.2.3_react@19.2.3__react@19.2.3/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[16].oneOf[6].use[3]!./src/components/UI/DropdownList/DropdownList.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DropdownList_dropdownList__OVLcm {
  position: absolute;
  top: 110%;
  right: 0;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.DropdownList_dropdownItem__hsZP7 {
  padding: 12px 44px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 16px;
  color: #1f2937;
  cursor: pointer;
}

.DropdownList_dropdownItem__hsZP7:last-child {
  border-bottom: none;
}

