
.title {
  margin-left: 10px;
  font-weight: var(--font_highlight_weight);
  font-size: 20px;
}
.cardContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
