a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 200px;
  height: 160px;
  background: #111827;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.codeit {
  color: #9ca3af;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footerMenu {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.footerMenu > a {
  color: #e5e7eb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.icons {
  display: flex;
  width: 116px;
  align-items: center;
  gap: 12px;
}

/* Tablet */
@media (max-width: 1199px) {
  .footer {
    padding: 32px 20px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .footer {
    padding: 32px 16px;
    height: auto;
  }

  .footerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 0;
  }

  .codeit {
    order: 2;
    width: 100%;
  }

  .footerMenu {
    order: 1;
  }

  .icons {
    order: 1;
  }
}
