.footer {
  height: 16rem;
  background-color: var(--gray-01);
  font-size: 1.6rem;
  font-weight: 400;
}

.footer-container {
  align-items: center;
  padding: 3.2rem 1.6rem 0;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'links social'
    'copyright copyright';
  gap: 1.2rem;
}

.footer-copyright {
  grid-area: copyright;
  color: var(--gray-06);
}

.footer-links {
  grid-area: links;
  display: flex;
  gap: 3rem;
}

.footer-links a {
  color: var(--gray-08);
}

.social-media {
  grid-area: social;
  display: flex;
  gap: 1.2rem;
}

/* 반응형 디자인 */
/* 핸드폰 사이즈 */
@media (min-width: 375px) {
}

/* 태블릿 사이즈 */
@media (min-width: 744px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 2.4rem 0;
  }
}

/* 컴퓨터 사이즈 */
@media (min-width: 1200px) {
  .footer-container {
    padding: 3.2rem 20rem 0;
  }
}
