/* Desktop */
.saleCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 24px;
}

/* Tablet */
@media (max-width: 1199px) {
  .saleCards {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .saleCards {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 8px;
  }
}
