.sortSelect {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #fff;

  appearance: none;
  cursor: pointer;
  background-image: url('../assets/ic_arrow_down.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 24px;
}

.sortSelect:focus {
  outline: none;
}

@media (max-width: 767px) {
  .sortSelect {
    width: 42px;
    color: transparent;
    padding: 9px;
    background-image: url('../assets/sort_drop_down.svg');
    background-position: center;
    background-size: 16px;
  }

  .sortSelect option {
    color: #1f2937;
  }
}
