.section {
    width: 1200px;
    margin: 26px auto;
}

.container {
    width: 100%;
}

.bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.productsTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary-color-gray900);
}

.sellingProductList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 24px;
}

.sellingProduct {
    width: 220px;
    height: 319px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.pagination {
    margin : 43px auto 140px auto;
}