@import "/reset.css";

/* 기본 설정 */
:root {
  --text-color: #1f2937;
  --focus-color: #3692ff;
  --point-color: #e6f2ff;
  --primary-color: #f3f4f6;
  --secondary-color: #9ca3af;
  --error-color: #f74747;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10rem 0;
}

/* 페이지 디자인 */
header {
  margin-bottom: 4rem;
}

/* 정보 입력창 */
.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containers {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

input,
button,
.social-login {
  width: 64rem;
  height: 5.6rem;
  margin-bottom: 2.4rem;
}

label {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--text-color);

  display: flex;
  align-items: center;
}

input {
  background-color: var(--primary-color);
  border-radius: 12px;
  border: none;
  box-sizing: border-box;

  padding: 1.6rem 2.4rem;
  margin: 1.6rem 0 0;

  /* input에 font-family가 적용되지 않아 재지정 */
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: var(--secondary-color);
}

input:focus {
  outline: 1px solid var(--focus-color);
}

.pwd-wrapper {
  position: relative;
  width: 100%;
}

.btn-password-toggle {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-25%);

  cursor: pointer;
}

/* 에러 관련 */
input.input-error {
  border: 1px solid var(--error-color);
  outline: none;
}

.error-message {
  color: var(--error-color);
  font-size: 1.5rem;
  font-weight: 600;

  margin-top: 0.8rem;
  margin-left: 1.6rem;

  display: none;
}

/* 로그인, 회원가입 버튼 */
.login-button,
.signup-button {
  background-color: var(--secondary-color);
  border-radius: 999px;
  border: none;

  /* button에 font-family가 적용되지 않아 재지정 */
  font-family: "Pretendard", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: var(--primary-color);

  cursor: pointer;
}

/* 버튼 비활성화 */
.login-button:disabled,
.signup-button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

/* 버튼 활성화 */
.login-button:not(:disabled),
.signup-button:not(:disabled) {
  background-color: var(--focus-color);
  cursor: not-allowed;
}

/* 간편 로그인 */
.social-login {
  background-color: var(--point-color);
  border-radius: 8px;
  height: 7.4rem;
  padding: 1.6rem 2.3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--text-color);
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icon img {
  display: block;
  width: 42px;
  height: 42px;
}

/* 로그인, 회원가입 링크 */
.login-link,
.signup-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--text-color);
}

.login-link a,
.signup-link a {
  color: var(--focus-color);
}
