/* 전체 틀 */
.ProductListContainer{
  padding: 5.88rem 22.75rem 13.94rem ;
  width: 100%;
}

/* nav title, input,btn, drop down flex */
.ListNav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* 판매중인상품 */
.navTitle{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 160%;
}


/* input,btn,dropDown 부분 */
.searchContent{
  display: flex;
  gap: 0.75rem;
}

/* input 창 */
.searchIcon{
  width: 1.5rem;
  height: 1.5rem;
  color: var(--Secondary-400);
  position: relative;
  bottom: -0.6rem;
  left: 2rem;  
}

.searchInput{
  width: 20.3125rem;
  height: 2.625rem;
  padding: 0.56rem 1.25rem 0.56rem 2.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: var(--Secondary-100);
}

/* 상품 등록 버튼 */
.addBtn{
  height: 2.6rem;
  padding: 0.75rem 1.44rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-100);
  border-radius: 0.5rem;
  border: none;
  color: var(--Cool-Gray-100);
}

/* drop down 버튼*/
.dropDownContainer{
  display: flex;
  flex-direction: column;
}

.dropDown{
  display: flex;
}

.dropDownBtn{
  width: 8.125rem;
  height: 2.625rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid var(--Cool-Gray-200) ;
  background-color: #fff;
}

/* drop down lists */
.dropDownList{
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  z-index: 50;
}

.dropDownNew{
  width: 8.125rem;
  height: 2.625rem;
  background-color: #fff;
  border: 1px solid var(--Cool-Gray-100);
  border-radius: 0.75rem 0.75rem 0 0;
}

.dropDownLike{
  width: 8.125rem;
  height: 2.625rem;  
  background-color: #fff;
  border: 1px solid var(--Cool-Gray-100);
  border-radius: 0 0 0.75rem 0.75rem;
}


/* tablet media */
@media (max-width: 1199px) and (min-width: 744px){
  *{
    font-size: 1rem;
  }
  .ProductListContainer{
    padding: 1.62rem;
    margin-top: 4.25rem;
  }

  .navTitle{
    font-size: 1.25rem;
  }

  .searchIcon{
    left: 2.5rem;
  }

  .searchInput{
    width: 15.125rem;
    height: 2.625rem;
    font-size: 1rem;
    display: flex;
  }

  .addBtn{
    font-size: 1rem;
    padding: 0.75rem 1.4rem;
  }

  .dropDownContainer{
    width: 8.12rem;
    height: 2.6rem;
  }
}

/* mobile media */
@media (max-width: 743px) and (min-width: 375px) {

}