.container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.title {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.submitBtn {
  padding: 1.2rem 2.3rem;
  background-color: #3692ff;
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitBtn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.label {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
}
/* Mobile (375px 이하) */
@media (max-width: 375px) {
  .label {
    font-size: 1.4rem;
  }
}

.required {
  color: #3692ff;
  margin-right: 4px;
}

.input,
.textarea {
  width: 100%;
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  color: #1f2937;
  outline: none;
  transition: background-color 0.2s;
}

.input:focus,
.textarea:focus {
  background-color: #e5e7eb;
}

.textarea {
  min-height: 280px;
  resize: none;
  font-family: inherit;
}
