/* -----------------------
  login.css
  - 로그인 페이지
----------------------- */

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 231px;

  /* width: 1920px; */
  height: 1133px;
  background-color: var(--bg-gray);

  color: var(--Secondary-800);
}

.login__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 640px;
}

/* 로고 */
.login__logo {
  width: 396px;
  height: 132px;
  margin-bottom: 40px;
}

/* 로그인 */
.login__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login__input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form label {
  color: var(--Secondary-700);
  font-size: var(--font-2lg);
  font-weight: var(--weight-bold);
}

form input {
  display: flex;
  justify-content: center;
  padding: 0 24px;

  height: 56px;
  background-color: var(--Secondary-100);
  border-radius: 12px;
  border: none;

  color: var(--Secondary-400);
  font-size: var(--font-lg);
  font-weight: var(--weight-regular);
}

.input__password input {
  background-image: url('/assets/icons/eye-closed.svg');
  background-position: right 24px center;
  background-size: 24px;
  background-repeat: no-repeat;
}

form input:focus {
  outline: none;
  border: 1px solid var(--Primary-100);
}

form button {
  white-space: nowrap; /* 줄바꿈 방지 */

  height: 56px;
  background-color: var(--Secondary-400);
  border-radius: 40px;
  border: none;

  font-size: var(--font-xl);
  font-weight: var(--weight-semibold);
  color: var(--Secondary-100);
}

/* 소셜 로그인 */
.login__social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 23px;

  height: 74px;
  background-color: var(--bg-sky);
  border-radius: 12px;
  border: none;

  font-size: var(--font-lg);
  font-weight: var(--weight-medium);
}

.social-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* 회원가입 링크 */
.login__signup {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4px;

  font-size: var(--font-md);
  font-weight: var(-—weight-medium);
}

.login__signup a {
  color: var(--Primary-100);
  text-decoration-line: underline;
}
