.footer {
  height: 160px;
  background-color: var(--color_footer_background);
  padding: 32px 200px;
}
.footerContent {
  display: flex;
  justify-content: space-between;
  font-size: var(--font_footer_size);
  font-weight: var(--font_footer_weight);
  color: var(--color_font_footer);
}
.copyright {
  color: var(--color-darkgrey);
}
.footerLink {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.footerLink a {
  text-decoration: none;
  color: var(--color_font_footer);
}

.social {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
.social img {
  width: 18px;
}
