* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#layout {
  width: 640px;
  margin: 60px auto 178px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.title img {
  width: 396px;
  height: 132px;
}

.social-login {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background: #e6f2ff;
  margin: 24px 0;
}

.inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.social-login h2 {
  color: #1f2937;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.social-login-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-login-icon img {
  width: 40px;
  height: 40px;
}

footer {
  text-align: center;
}

label {
  display: block;
  color: #1f2937;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

input {
  display: block;
  width: 100%;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: #f3f4f6;

  border: 1px solid transparent;
  margin-top: 16px;
}

input::placeholder {
  color: #9ca3af;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

input:focus {
  border: 1px solid #3692ff;
}



button {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #9ca3af;

  color: #f3f4f6;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
}

.set1,
.set2,
.set3,
.set4 {
  margin-bottom: 24px;
}
