* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
  
} */

body {
  background-color: #cfe5ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;

  height: 70px;
  width: 100%; /*크기 자동 가운데*/

  padding: 0 200px;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
}

.login-button {
  height: 48px;
  width: 128px;
  padding: 12px 23px;
  gap: 10px;

  border-radius: 8px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

h1 {
  font-family: Pretendard;
  color: #374151;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}

.hero-button {
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: 32px;
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1110px;
}

#hero {
  background-image: url(/images/bodysection-1.png);
  padding-bottom: 60px;
  gap: 32px;
}

.hero-banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}
