* {
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
}

.header-inner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  height: 70px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;

  /* 피그마에서 값 참조 */
  width: 153px;
  height: 51px;
  padding: 5.017px 0 5.848px 0;

  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  /* 피그마에서 값 참조 */
  width: 128px;
  height: 48px;
  padding: 12px 23px;
  gap: 10px;
  border-radius: 8px;
  background: #3692ff;
  color: #f3f4f6;
  font-family: Pretendard; /*폰트 링크 적용*/
  font-style: normal;
  font-weight: 600;
  line-height: 26px;

  text-decoration: none; /*밑줄 없애기!*/
  cursor: pointer;
}

.logo,
.login {
  flex-shrink: 0; /*겹치지 않으려고*/
}

body {
  background-color: #cfe5ff;
}
