* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*rem으로 맞추기 편하게 하기 위함*/
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;

  height: 70px;
  width: 100%; /*크기 자동 가운데*/

  padding: 0 200px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 128px;
  padding: 12px 23px;
  gap: 10px;

  border-radius: 8px;
  background: var(--Primary-100, #3692FF);
  color: var(--Cool-Gray-100, #F3F4F6);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;
  white-space: nowrap;
}
